# Переменные окружения (токены, пароли)
.env

# Python-кэш, папка со скомпилированными файлами *.pyc (создаются автоматически на каждой машине) - чтобы тех мусор не засорял репоз-ий и не замедлял запуск кода
__pycache__/
*.pyc
*.pyo
*.pyd

# Временные аудио файлы
temp_audio/
*.oga
*.wav
*.mp3

# Виртуальное окружение (если используете)
venv/
.venv/

# IDE настройки
.idea/
.vscode/

# Временные файлы
*.log
*.tmp